<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

{{ include(':partials:head.html.twig') }}

<body>
    {{ include(':partials:header.html.twig') }}

    <main class="site_wrapper">
        {% block main %}{% endblock %}
    </main>

    {{ include(':partials:footerjs.html.twig') }}

    {% block page_scripts %}{% endblock %}
</body>
</html>
