<!-- ######### JS FILES ######### -->

<!-- get jQuery from the google apis -->
<script type="text/javascript" src="js/universal/jquery.js"></script>

<!-- mega menu -->
<script src="js/mainmenu/bootstrap.min.js"></script>

<!-- accordion -->
<script type="text/javascript" src="js/accordion/custom.js"></script>