<header id="header">
    <div id="trueHeader">
        <div class="wrapper">

            <div class="logoarea">
                <div class="container">
                    <h3 class="colored">Hugo Pereira</h3>
                </div>
            </div>

            <div class="menu_main">
                <div class="container">
                    <div class="navbar yamm navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1"  > <span>Menu</span>
                                    <button type="button" > <i class="fa fa-bars"></i></button>
                                </div>
                            </div>

                            <div id="navbar-collapse-1" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html" class="active">Home</a></li>

                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Layouts</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="http://gsrthemes.com/hoxa/layout1/fullwidth/index.html">Business</a> </li>
                                            <li><a href="http://gsrthemes.com/hoxa/fullwidth/index-1.html">Creative</a> </li>
                                            <li><a href="http://gsrthemes.com/hoxa/fullwidth/index-2.html">Portfolio</a> </li>
                                            <li><a href="http://gsrthemes.com/hoxa/layout2/index.html">One Page Theme</a> </li>
                                            <li><a href="http://gsrthemes.com/hoxa/fullwidth/index-3.html">Landing Page</a> </li>
                                            <li><a href="http://gsrthemes.com/hoxa/fullwidth/index.html">Corporate</a> </li>
                                        </ul>
                                    </li>

                                </ul>

                                <div id="wrap">
                                    <form action="index.html" autocomplete="on">
                                        <input id="search" name="search" type="text" placeholder=""><input id="search_submit" value="search" type="submit">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- end menu -->

        </div>

    </div>

</header>