{% extends ':layouts:base.html.twig' %}

{% block main %}
    <section>
        - por google maps com caixas multibanco
        - por liçoes de curso de milagres da rita (aqui no sita)
        - reiki
    </section>

    <section class="fusection4">
        <div class="container-fluid">
            <h2>Horários</h2>

            <br />

            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title ">
                            <a class="accordion-toggle " data-toggle="collapse" href="#collapseOne">
                                Carris
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>725 - Descendente</h2>
                                    <br>
                                    <iframe style="width: 100%; height: 600px" src="http://docs.google.com/gview?url=http://carris.pt/fotos/produtos/a725_2.pdf&amp;embedded=true" class="detailpdf" frameborder="0"></iframe>
                                </div>
                                <div class="col-md-6">
                                    <h2>725 - Ascendente</h2>
                                    <br>
                                    <iframe style="width: 100%; height: 600px" src="http://docs.google.com/gview?url=http://carris.pt/fotos/produtos/a725_1.pdf&amp;embedded=true" class="detailpdf" frameborder="0"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                                Ginásio
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Parque das Nações</h2>
                                    <br>
                                    <iframe style="width: 100%; height: 600px" src="{{ linkHorarioGinasioPump }}" class="detailpdf" frameborder="0"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fusection4">
        <div class="container-fluid">
            <h2>Receitas</h2>

            <ul>
                {% for key, categoriesRecipe in categoriesRecipes %}
                    <li><a href="{{ path('categoriesRecipe', {'name': categoriesRecipe.nameCategory}) }}">{{ categoriesRecipe.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}